/* You can add global styles to this file, and also import other style files */
@import '~@aws-amplify/ui-angular/theme.css';
@import "~ng-zorro-antd/ng-zorro-antd.min.css";

body {
  margin: 0;
  padding: 0;
}

nz-content {
  background-color: #fff;
  margin: 8px;
  padding: 8px;
  border-radius: 4px;
}

.m-l-5 {
  margin-left: 5px;
}